body{
	margin: 0;
	padding: 0;
}

.avatar{
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 15%;
}

.nameHeader{
	color: white;
	font-size: 300%;
	text-align: center;
	position: relative;
	top: 15%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:150%;
}
li a:hover {
  background-color: #111;
}

.parallax {
  background-image: url('img_parallax.jpg');
  height: 400px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  white-space: nowrap;
}
.container {
	text-align: center;
	padding-top: 20px;
}
.gradientBorder {
	display: inline-block;
	box-shadow: 0 0 15px 10px rgb(230,230,230);
}